/* variables */
@import '/src/assets/scss/core/variables';
/* fonts */
@import '/src/assets/scss/core/fonts';
/* components */
@import '/src/assets/scss/components/index';

body {
  font-family: $font-stack;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  line-height: 24px;

  @media (max-width: 1530px) {
    font-size: 15px;
    line-height: 20px;
  }

  @media (max-width: 1260px) {
    font-size: 13px;
    line-height: 17px;
  }
}

.layout {
  display: flex;
  background-color: $color-background;
  color: $color-text-main;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &.--dark {
    background-color: $color-background-dark;
    color: $color-text-main-dark;

    & .banner {
      transition: background-image 0.3s ease-in-out;
      background: $color-content-background
        url('../images/banner__background-dark.png') no-repeat;
      background-size: cover;
    }

    & .contacts__input {
      background-color: $color-background-dark;
      color: $color-text-main-dark;
    }

    & .about__info::after {
      opacity: 0.2;
    }

    & .about__wrapper,
    & .banner,
    & .contacts__form,
    & .copyright,
    & .blog__card-content,
    & .services__card,
    & .contacts__card,
    & .modal__content,
    & .navigation__wrapper,
    & .navigation__dropdown {
      background-color: $color-content-background-dark;
    }

    & .about__speciality,
    & .scale__item,
    & .banner__description,
    & .head__description,
    & .services__card-subtitle,
    & .services__card-description,
    & .blog__card-description,
    & .contacts__form,
    & .contacts__cards,
    & .modal__subtitle,
    & .modal__feature {
      color: $color-text-secondary-dark;
    }

    & .navigation__prompt {
      color: $color-background-dark;
      background-color: $color-text-main-dark;
    }

    & .navigation__prompt::after {
      border-top: 14px solid $color-text-main-dark;
    }

    & .navigation__theme,
    & .navigation__info,
    & .navigation__burger {
      filter: brightness(100) saturate(100%);
      transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
  }

  &__wrapper {
    display: flex;
    width: 1451px;
    margin: 0 auto;

    @media (max-width: 1530px) {
      width: $desktop-width;
    }

    @media (max-width: 1260px) {
      width: $desktop-small-width;
    }

    @media (max-width: 1052px) {
      width: $tablet-width;
    }

    @media (max-width: 828px) {
      width: $tablet-small-width;
    }

    @media (max-width: 636px) {
      display: block;
      width: 100%;
    }
  }

  &__main-wrapper {
    margin: 0 30px;

    @media (max-width: 1530px) {
      width: 801px;
    }

    @media (max-width: 1260px) {
      width: 644px;
      margin: 0 20px;
    }

    @media (max-width: 1052px) {
      width: 478px;
      margin: 0 15px;
    }

    @media (max-width: 828px) {
      width: 346px;
      margin: 0 10px 0 10px;
    }

    @media (max-width: 636px) {
      width: calc(100% - 20px);
      margin: 0 10px;
      position: relative;
    }
  }

  &__section {
    margin-bottom: 35px;
    padding-top: 35px;

    @media (max-width: 828px) {
      margin-bottom: 18px;
      padding-top: 18px;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  margin: 0 0 18px;
}

.about {
  font-size: 15px;
  position: sticky;
  top: 0;
  height: 100vh;
  max-height: 1302px;

  @media (max-width: 1530px) {
    max-height: 1183px;
    font-size: 13px;
  }

  @media (max-width: 1260px) {
    max-height: 964px;
    font-size: 11px;
  }

  @media (max-width: 1052px) {
    max-height: 939px;
  }

  @media (max-width: 828px) {
    font-size: 10px;
    max-height: 750px;
  }

  @media (max-width: 636px) {
    font-size: 15px;
    line-height: 18px;
    max-height: unset;
    height: 100%;
    overflow-y: scroll;
  }

  &_mob {
    @media (max-width: 636px) {
      position: fixed;
      top: 64px;
      width: 100%;
      left: 0;
      z-index: 2;
      display: none;

      &.--open {
        display: flex;
      }
    }
  }

  &_desktop {
    display: block;

    @media (max-width: 636px) {
      display: none;
    }
  }

  &__wrapper {
    padding: 48px 42px 27px;
    background-color: $color-content-background;
    transition: background-color 0.3s ease-in-out;

    @media (max-width: 1052px) {
      padding: 25px;
    }

    @media (max-width: 828px) {
      padding: 16px;
    }

    @media (max-width: 636px) {
      width: 100%;
      height: 1215px;
      padding: 16px 32px;
    }
  }

  &__info {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 25px;
    position: relative;

    @media (max-width: 1260px) {
      margin-top: 15px;
      padding-bottom: 15px;
    }

    @media (max-width: 828px) {
      margin-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: 636px) {
      margin-top: 25px;
      padding-bottom: 25px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-background;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-radius: 2px;
      transition: opacity 0.3s ease-in-out;

      @media (max-width: 828px) {
        height: 1px;
      }
    }
  }

  &__avatar {
    height: 150px;
    width: 150px;

    @media (max-width: 1530px) {
      width: 125px;
      height: 125px;
    }

    @media (max-width: 1260px) {
      width: 110px;
      height: 110px;
    }

    @media (max-width: 828px) {
      width: 87px;
      height: 87px;
    }

    @media (max-width: 636px) {
      width: 130px;
      height: 130px;
    }

    &-container {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 0 31px;

      @media (max-width: 1260px) {
        margin: 0 0 25px;
      }

      @media (max-width: 828px) {
        margin: 0 0 10px;
      }
    }

    &-container::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-green;
      z-index: 1;
      bottom: 18px;
      right: 46px;

      @media (max-width: 1530px) {
        bottom: 13px;
        right: 33px;
        width: 13px;
        height: 13px;
      }

      @media (max-width: 1260px) {
        bottom: 13px;
        right: 25px;
        width: 10px;
        height: 10px;
      }

      @media (max-width: 1052px) {
        bottom: 14px;
        right: 27px;
      }

      @media (max-width: 828px) {
        bottom: 11px;
        right: 31px;
        width: 7px;
        height: 7px;
      }

      @media (max-width: 636px) {
        bottom: 17px;
        right: calc(50% - 110px / 2);
        width: 11px;
        height: 11px;
      }
    }
  }

  &__name,
  &__speciality,
  &__title {
    margin: 0 0 15px;

    @media (max-width: 1260px) {
      margin: 0 0 10px;
    }

    @media (max-width: 828px) {
      margin: 0 0 8px;
      line-height: 12px;
    }

    @media (max-width: 636px) {
      margin: 0 0 15px;
    }
  }

  &__name,
  &__title {
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 1530px) {
      font-size: 16px;
    }

    @media (max-width: 1260px) {
      font-size: 13px;
    }

    @media (max-width: 636px) {
      font-size: 17px;
      line-height: 17px;
    }
  }

  &__speciality {
    color: $color-text-secondary;
    transition: color 0.3s ease-in-out;
  }

  &__title {
    text-align: left;
  }

  &__button {
    margin-top: 25px;
    padding: 6px 24px;
    justify-content: space-between;

    @media (max-width: 1260px) {
      padding: 6px 15px;
    }

    @media (max-width: 1052px) {
      padding: 6px 17px;
    }

    @media (max-width: 828px) {
      margin-top: 12px;
      padding: 6px 12px;
    }

    @media (max-width: 636px) {
      width: 115px;
      margin-top: 25px;
    }

    &-icon {
      @media (max-width: 828px) {
        width: 9px;
        height: 11px;
      }
    }
  }
}

.banner {
  transition: background-image 0.3s ease-in-out;
  background: $color-content-background url('../images/banner__background.png')
    no-repeat;
  background-size: cover;
  margin-bottom: 103px;

  &__wrapper {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1530px) {
      padding: 0 50px;
    }

    @media (max-width: 1260px) {
      padding: 0 30px;
    }

    @media (max-width: 1052px) {
      padding: 30px;
      justify-content: center;
    }

    @media (max-width: 636px) {
      padding: 47px;
    }
  }

  &__photo {
    max-width: 327px;

    &-container {
      display: flex;

      @media (max-width: 1052px) {
        display: none;
      }
    }

    @media (max-width: 1530px) {
      max-width: 272px;
    }

    @media (max-width: 1260px) {
      max-width: 200px;
    }
  }

  &__name {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 18px;
    padding: 93px 0 0;

    @media (max-width: 1530px) {
      font-size: 34px;
      line-height: 34px;
      padding: 77px 0 0;
    }

    @media (max-width: 1260px) {
      font-size: 32px;
      line-height: 30px;
      padding: 58px 0 0;
      margin: 0 0 12px;
    }

    @media (max-width: 1052px) {
      padding: 0;
    }

    @media (max-width: 828px) {
      font-size: 26px;
      line-height: 27px;
      margin: 0 0 6px;
    }

    @media (max-width: 636px) {
      font-size: 34px;
      line-height: 36px;
      margin: 0 0 12px;
    }
  }

  &__description {
    margin: 0 0 25px;
    max-width: 424px;
    font-size: 16px;
    color: $color-text-secondary;
    transition: color 0.3s ease-in-out;

    @media (max-width: 1530px) {
      font-size: 13px;
      line-height: 20px;
      max-width: 353px;
    }

    @media (max-width: 1260px) {
      margin: 0 0 16px;
    }

    @media (max-width: 1052px) {
      max-width: unset;
    }

    @media (max-width: 828px) {
      line-height: 17px;
      margin: 0 0 12px;
    }

    @media (max-width: 636px) {
      font-size: 17px;
      line-height: 20px;
      margin: 0 0 24px;
    }
  }

  &__button {
    width: 154px;
    height: 51px;
    border-radius: 5px;
    padding: 0px 32px;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 1530px) {
      width: 123px;
      height: 41px;
      padding: 0px 28px;
      font-size: 13px;
    }

    @media (max-width: 828px) {
      width: 84px;
      height: 28px;
      padding: 0px 12px;
      font-size: 12px;
    }

    @media (max-width: 636px) {
      width: 123px;
      height: 41px;
      padding: 0px 28px;
      font-size: 13px;
    }

    &-image {
      margin-right: -9px;

      @media (max-width: 1260px) {
        width: 12px;
        height: 12px;
      }

      @media (max-width: 828px) {
        width: 13px;
        height: 13px;
        margin-right: -6px;
      }
    }
  }

  &__text_colored {
    color: $color-yellow;
  }

  @media (max-width: 1530px) {
    margin-bottom: 40px;
  }
}

.contacts {
  display: flex;

  @media (max-width: 1052px) {
    flex-direction: column;
  }

  &__button {
    padding: 6px 23px;
    box-sizing: border-box;
  }

  &__form {
    color: $color-text-secondary;
    background-color: $color-content-background;
    transition: background-color 0.3s ease-in-out;
    padding: 25px;
    margin-right: 30px;

    @media (max-width: 1530px) {
      margin-right: 20px;
      padding: 20px;
    }

    @media (max-width: 1260px) {
      padding: 15px;
    }

    @media (max-width: 1052px) {
      margin: 0 0 25px;
    }

    @media (max-width: 828px) {
      padding: 15px;
    }

    &-container {
      width: 61%;
      @media (max-width: 1052px) {
        width: 100%;
      }
    }

    &_submited {
      display: flex;
      height: 416px;
      justify-content: center;
      align-items: center;
      text-align: center;
      animation: form 0.4s ease-in-out;

      @media (max-width: 1530px) {
        height: 402px;
      }

      @media (max-width: 1260px) {
        height: 290px;
      }
    }
  }

  @keyframes form {
    0% {
      margin-bottom: 286px;
    }
    100% {
      margin-bottom: 0px;
    }
  }

  &__submit-button {
    font: inherit;
    padding: 0;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &__label {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px;
    transition: color 0.3s ease-in-out;

    @media (max-width: 828px) {
      margin: 0 0 6px;
      font-size: 14px;
    }

    &-error {
      text-align: right;
      font-size: 16px;
      display: flex;
      margin: 6px 0 0;
      color: $color-error;
      justify-content: flex-end;

      @media (max-width: 1530px) {
        font-size: 12px;
      }

      @media (max-width: 1260px) {
        font-size: 10px;
      }
    }
  }
}

.map__content {
  width: 100%;
  height: 300px;

  @media (max-width: 1260px) {
    height: 230px;
  }

  @media (max-width: 828px) {
    height: 200px;
  }
}

.ymaps-2-1-79-controls__control {
  @media (max-width: 828px) {
    inset: 30px auto auto 10px !important;
  }
}

.copyright {
  text-align: center;
  padding: 18px 0;
  background-color: $color-content-background;
  transition: background-color 0.3s ease-in-out;

  @media (max-width: 1260px) {
    padding: 12px 0;
  }

  @media (max-width: 636px) {
    font-size: 15px;
    padding: 15px 0;
  }
}

.ScrollbarsCustom {
  @media (max-width: 1530px) {
    width: 265px !important;
  }

  @media (max-width: 1260px) {
    width: 235px !important;
  }

  @media (max-width: 1052px) {
    width: 205px !important;
  }

  @media (max-width: 828px) {
    width: 170px !important;
  }
}

.ScrollbarsCustom-Track {
  width: 5px !important;
  right: 4px !important;
}

.ScrollbarsCustom-Track {
  width: 3px !important;
  right: 6px !important;
}

.ScrollbarsCustom-Thumb {
  background: rgba(0, 0, 0, 0.2) !important;
}
