.scale {
  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $color-text-secondary;
    margin-bottom: 9px;

    @media (max-width: 828px) {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__progress {
    width: 100%;
    outline: 1px solid $color-yellow;
    border-radius: 5px;
    height: 4px;
    position: relative;

    @media (max-width: 828px) {
      height: 2px;
    }
  }

  &__line {
    height: 4px;
    background-color: $color-yellow;
    border-radius: 5px;
    max-height: 200px;
    position: absolute;
    top: 0px;

    @media (max-width: 828px) {
      height: 2px;
    }
  }
}
