.contacts {
  &__info {
    width: 39%;

    @media (max-width: 1052px) {
      width: 100%;
    }
  }

  & .head {
    align-items: flex-start;

    &__title {
      margin: 0;
    }
  }

  &__cards {
    @media (max-width: 1052px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    margin: 0 0 18px;
    padding: 25px;
    background-color: $color-content-background;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 1260px) {
      padding: 15px;
    }

    @media (max-width: 1052px) {
      margin: 0 18px 0 0;
    }

    @media (max-width: 828px) {
      padding: 10px;
    }

    &-container {
      display: flex;
      width: 40px;
      height: 40px;
      margin: 0 auto 30px;
      background-color: $color-yellow;
      border-radius: 50%;

      @media (max-width: 1260px) {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
      }

      @media (max-width: 828px) {
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
      }
    }

    &-image {
      width: 50%;
      height: 50%;
      margin: auto;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    color: $color-text-secondary;

    @media (max-width: 1260px) {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }

    &-title {
      font-weight: 500;
    }

    &-value {
      font-size: 15px;

      @media (max-width: 1530px) {
        font-size: 13px;
      }

      @media (max-width: 828px) {
        font-size: 8px;
      }
    }
  }
}
