.button {
  background-color: $color-1;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $color-9;
  }
}
