.button {
  color: $color-text-main;
  transition: color 0.3s ease-in-out;
  background-color: $color-yellow;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1530px) {
    font-size: 13px;
  }

  @media (max-width: 1260px) {
    font-size: 12px;
  }

  &:hover {
    color: $color-content-background;
  }
}
