.data {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    padding: 0 6px 0 5px;
    background-color: $color-1;
  }

  &__value_colored {
    color: $color-10;
  }
}
