.data {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 828px) {
      margin: 0 0 5px;
      line-height: 10px;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    color: $color-text-main;
    padding: 0 6px 0 5px;
    background-color: $color-yellow;
  }

  &__value_colored {
    color: $color-green;
  }
}
