.head {
  margin: 0 0 50px;

  &__title {
    color: $color-2;
    font-size: $font-header-size;
    text-align: center;
    display: block;
    margin: 0 0 25px;
  }

  &__description {
    font-size: $font-medium;
    color: $color-6;
    text-transform: capitalize;
    max-width: 438px;
    text-align: center;
    margin: 0 auto;
  }
}
