.blog {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
  }

  &__card {
    &-image {
      width: 310px;
      height: 300px;
      transition: transform 0.3s ease-in-out;
    }

    &-container {
      display: flex;
      overflow: hidden;
    }

    &-content {
      padding: 17px 25px;
      background-color: $color-9;
    }

    &-title {
      margin: 0 0 8px;
      font-size: $font-size-main;
      font-weight: $font-weight-medium;
    }

    &-description {
      margin: 0 0 9px;
      font-size: $font-size-small;
      max-width: 260px;
    }

    &:hover .blog__card-image {
      transform: scale(1.1);
    }
  }

  &__source {
    text-decoration: none;
    color: $color-1;
    font-weight: $font-weight-medium;
    position: relative;
    transition: filter 0.3s ease-in-out;

    &:hover {
      filter: invert(100%) saturate(30%);
    }

    &::after {
      content: '';
      position: absolute;
      border: solid $color-1;
      border-width: 0 2px 2px 0;
      padding: 2px;
      transform: rotate(-45deg);
      transition: color 0.3s ease-in-out;
      top: 10px;
      right: -15px;
    }
  }
}
