.navigation {
  height: 100vh;
  max-height: 1194px;
  position: sticky;
  top: 0;

  @media (max-width: 1530px) {
    max-height: 1088px;
  }

  @media (max-width: 1260px) {
    max-height: 881px;
  }

  @media (max-width: 1052px) {
    max-height: 856px;
  }

  @media (max-width: 828px) {
    max-height: 788px;
  }

  &__wrapper {
    padding: 50px 34px;
    background-color: $color-content-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 1530px) {
      padding: 50px 22px;
    }

    @media (max-width: 1260px) {
      padding: 50px 24px;
    }

    @media (max-width: 1052px) {
      padding: 40px 15px;
    }

    @media (max-width: 828px) {
      padding: 40px 10px;
    }
  }

  &__theme {
    width: 30px;
    height: 30px;
    margin-bottom: 55px;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 1530px) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 1260px) {
      width: 20px;
      height: 20px;
    }

    @media (max-width: 828px) {
      margin-bottom: 25px;
      width: 13px;
      height: 13px;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  &__container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 43px;
    position: relative;

    @media (max-width: 1260px) {
      margin-bottom: 34px;
    }

    @media (max-width: 1052px) {
      margin-bottom: 24px;
    }

    @media (max-width: 828px) {
      margin-bottom: 19px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 50%;
    height: 50%;
    margin: auto;
    transition: filter 0.3s ease-in-out;

    &-container {
      display: flex;
      width: 40px;
      height: 40px;
      background-color: $color-background;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;

      @media (max-width: 1530px) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 1260px) {
        width: 25px;
        height: 25px;
      }

      @media (max-width: 828px) {
        width: 16px;
        height: 16px;
      }

      &:hover {
        background-color: $color-yellow;

        & ~ .navigation__prompt {
          opacity: 1;
        }

        & .navigation__image {
          filter: brightness(0) saturate(100%) invert(6%) sepia(54%)
            saturate(0%) hue-rotate(236deg) brightness(89%) contrast(75%);
        }
      }
    }
  }

  &__prompt {
    width: 65px;
    height: 24px;
    position: absolute;
    background-color: $color-text-main;
    top: -38px;
    left: -13px;
    border-radius: 2px;
    color: $color-content-background;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding-top: 6px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    user-select: none;

    @media (max-width: 1530px) {
      left: -17px;
    }

    @media (max-width: 1260px) {
      font-size: 10px;
      width: 56px;
      height: 19px;
      padding-top: 3px;
      left: -16px;
      top: -30px;
    }

    @media (max-width: 1052px) {
      font-size: 7px;
      width: 39px;
      height: 14px;
      padding-top: 0;
      left: -7px;
      top: -21px;
    }

    @media (max-width: 828px) {
      font-size: 5px;
      width: 24px;
      height: 13px;
      left: -4px;
      top: -17px;
    }

    &::after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-top: 14px solid $color-text-main;
      border-bottom: none;
      top: 19px;
      left: 24px;

      @media (max-width: 1260px) {
        border: 7px solid transparent;
        border-top: 10px solid $color-text-main;
        top: 18px;
        left: 21px;
      }

      @media (max-width: 1052px) {
        border: 4px solid transparent;
        border-top: 6px solid $color-text-main;
        top: 13px;
        left: 15px;
      }

      @media (max-width: 1052px) {
        order: 5px solid transparent;
        border-top: 5px solid $color-text-main;
        top: 11px;
        left: 8px;
      }
    }
  }
}
