.services {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 19px;

    @media (max-width: 1530px) {
      gap: 16px;
    }

    @media (max-width: 1260px) {
      gap: 13px;
    }

    @media (max-width: 1052px) {
      grid-template-columns: repeat(2, 48%);
      gap: 19px;
    }

    @media (max-width: 828px) {
      gap: 15px;
    }

    @media (max-width: 435px) {
      gap: 11px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-content-background;
    padding: 28px 0 42px;
    text-align: center;
    position: relative;

    @media (max-width: 1260px) {
      padding: 20px 0 30px;
    }

    @media (max-width: 828px) {
      padding: 15px 10px 20px;
    }

    &-image {
      width: 68px;
      height: 68px;
      margin: 0 0 26px;

      @media (max-width: 828px) {
        width: 39px;
        height: 39px;
        margin: 0 0 16px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      margin: 0 0 15px;

      @media (max-width: 1530px) {
        font-size: 15px;
      }

      @media (max-width: 1260px) {
        font-size: 13px;
      }

      @media (max-width: 828px) {
        font-size: 10px;
        margin: 0 0 6px;
      }
    }

    &-subtitle,
    &-description {
      font-size: 15px;
      color: $color-text-secondary;
      margin: 0;

      @media (max-width: 1530px) {
        font-size: 12px;
      }

      @media (max-width: 1260px) {
        font-size: 10px;
      }

      @media (max-width: 828px) {
        font-size: 8px;
      }
    }

    &-description {
      max-width: 80%;
      margin-bottom: 12px;

      @media (max-width: 828px) {
        margin-bottom: 7px;
      }
    }

    &-order {
      font-size: 12px;
      color: $color-yellow;
      font-weight: bold;
      line-height: 14px;
      text-transform: uppercase;
      padding-right: 18px;
      position: relative;
      text-decoration: none;

      @media (max-width: 1530px) {
        font-size: 10px;
      }

      @media (max-width: 828px) {
        font-size: 7px;
        padding-right: 8px;
        line-height: 9px;
      }

      &::after {
        content: '';
        position: absolute;
        border: solid $color-yellow;
        border-width: 0 2px 2px 0;
        padding: 2px;
        transform: rotate(-45deg);
        bottom: 5px;
        right: 6px;

        @media (max-width: 828px) {
          border-width: 0 1px 1px 0;
          padding: 1px;
          bottom: 3px;
          right: 3px;
        }
      }
    }

    &_hidden {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      opacity: 0;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
