.services {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-9;
    padding: 28px 0 42px;

    &-image {
      width: 68px;
      height: 68px;
      margin: 0 0 26px;
    }

    &-title {
      font-weight: $font-weight-medium;
      font-size: $font-size-main;
      margin: 0 0 15px;
    }

    &-subtitle {
      font-size: $font-size-small;
      color: $color-6;
      margin: 0;
    }
  }
}
